
/* Body */
body {
    padding: 1px;
}

.App {
    padding-top: 60px;
    font-size: 14px !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;

}

/** Style pour les opérations **/
/* button Créer & Editer */
div.bgButtonsCreateUpdateOps{
    position: relative;
    left: 8px;
    top: -45px;
}

/* boutons actions sur opérations*/
button.btn-actions-operation {
    padding: 0 1px 0 1px;
    min-width: 20px !important;
}

/* badge */
.badge {
    width: 76px;
    font-size: 80%;
    vertical-align: middle;
}

.chipMensualite {
    width: 90px;
}

.chipEtat {
    width: 86px;
}

span.operation_REPORTEE {
    color: #29abe0;
    font-style: italic;
}
span.operation_REALISEE {
    color: #93c54b;
}
span.operation_ANNULEE {
    color: #7c8889;
    font-style: italic;
    text-decoration-line: line-through;
}
span.operation_SUPPRIMEE {
    color: #7c8889;
    font-style: italic;
    text-decoration-line: line-through;
}
.text-success {
    color: #93c54b;
}
.text-danger {
    color: #e74c3c;
}
.text-barree {
    font-style: italic;
    text-decoration-line: line-through;
}

/** Style pour la datagrid **/
.MuiDataGrid-main{
    font-size: 14px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.MuiDataGrid-columnHeaders{
    font-weight: bold;
    color: #1e1e1c;
    background-color: #ece9e4;
    border-color: #dfddd8
}

.MuiDataGrid-row:nth-child(odd){
    background-color: #f8f5f0;
}

p.MuiTablePagination-displayedRows{
    font-size: 12px;
    display: table-cell;
    padding-top: 17px;
    vertical-align: middle;
}

div.MuiTablePagination-actions{
    display: table-cell;
    vertical-align: middle;
}




/**
    Style pour les résumés
**/
table {
    font-size: 14px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
thead.theadResume > tr > th  {
    font-size: 12px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: right !important;
    padding: 0 10px 0 0 !important;
    height: 38px;
    color: #1e1e1c;
    background-color: #ece9e4;
    border-color: #dfddd8
}


/* Lignes pour les résumés */
tbody.tbodyResume > tr.ligneCategorie {
    font-weight: bolder !important;
    color: #1e1e1c;
    background-color: #f8f5f0;
    border-color: #dfddd8;
}
tbody.tbodyResume > tr.ligneSolde {
    font-weight: bolder !important;
    color: #1e1e1c;
    border-color: #dfddd8;
    height: 40px;
    font-size: 16px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

tbody.tbodyResume > tr {
    height: 25px;
    border-color: #dfddd8;
}


span.ligneSsCategorie {
    margin-left: 20px;
}




tbody.tbodyResume > tr > td:first-child {
    width:33%
}
tbody.tbodyResume > tr > td:nth-child(2) {
    text-align: right;
    padding: 0 10px 0 0 !important;
}
tbody.tbodyResume > tr > td:nth-child(3) {
    text-align: right;
    padding: 0 10px 0 0 !important;
}

/**
Style data range
 */

.pagination {
    justify-content: center;
    display: flex;
}
/**
Style Menu
 */
a.nav-link {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
}

a.nav-link:hover {
    color: #1e3852;
}

/**
Style formulaire
 */

label.MuiFormLabel-root {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    color: #1976d2;
    font-weight: bolder;
}

.MuiGrid2-container{
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.MuiSelect-main{
    font-size: 14px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

input {
    font-size: 14px !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}