

/* Common styles */
body {
    padding: 1px;
    height: 100vh;
    margin: 0;
}

.App {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    height: 100%;
}

.favicon {
    padding: 3px;
}

h2, h3, h6, .MuiTypography-h3, .MuiTypography-h6 {
    color: #31687f;
}

/* Top Menu */
a.nav-link,
a.nav-link_selected {
    display: inline-block;
    flex-grow: 1;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-content: center;
}

a.nav-link {
    color: white;
}

a.nav-link_selected {
    background-color: #121212;
    border-radius: 20px 20px 0 0;
    color: white;
}

/* Couleurs spécifiques pour le lien Accueil */
a#accueil-link.nav-link {
    color: white;
}

a#accueil-link.nav-link:hover {
    color: #E5E7EB;
}

a#accueil-link.nav-link_selected {
    color: #E5E7EB;
    border: 3px solid #4DA3FF;
    border-bottom: 0;
}

a#accueil-link.nav-link_selected:hover {
    color: #F3F4F6;
}

/* Couleurs spécifiques pour le lien Opérations */
a#operations-link.nav-link:hover {
    color: #86EFAC;
}

a#operations-link.nav-link_selected {
    color: #4ADE80;
    background-color: #121212;
    border: 3px solid #4ADE80;
    border-bottom: 0;
}

a#operations-link.nav-link_selected:hover {
    color: #09f15e;
}


/* Couleurs spécifiques pour le lien Récurrents */
a#recurrents-link.nav-link:hover {
    color: #FB923C;
}

a#recurrents-link.nav-link_selected {
    color: #FB923C;
    border: 3px solid #FB923C;
    border-bottom: 0;
}

a#recurrents-link.nav-link_selected:hover {
    color: #FDBA74;
}


/* Couleurs spécifiques pour le lien Analyses */

a#analyses-link.nav-link:hover {
    color: #4DA3FF;
}

a#analyses-link.nav-link_selected {
    color: #4DA3FF;
    border: 3px solid #4DA3FF;
    border-bottom: 0;
}

a#analyses-link.nav-link_selected:hover {
    color: #78BBFF;
}

/* Couleurs spécifiques pour le lien Tendances */
a#tendances-link.nav-link:hover {
    color: #A78BFA;
}

a#tendances-link.nav-link_selected {
    color: #A78BFA;
    border: 3px solid #A78BFA;
    border-bottom: 0;

}

a#tendances-link.nav-link_selected:hover {
    color: #C4B5FD;
}

.compteListIcon {
    border-radius: 10%;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.listeItemSeparator {
    background-color: #252525 !important;
    color: #5fa9cc;
}

.filtercategorie {
    margin-top: -5px;
}

/* Budget page container */
.budget-page-container {
    overflow: hidden;
    border: 3px solid #4ADE80;
    border-radius: 8px;
    padding: 8px;
    max-height: calc(100vh - 60px);
}
/* Analyses categories page container */
.analyses-page-container {
    overflow: hidden;
    border: 3px solid #4DA3FF;
    border-radius: 8px;
    padding: 8px;
    max-height: calc(100vh - 70px);
}

/* Analyses temporelle page container */
.tendances-page-container {
    overflow: hidden;
    border: 3px solid #A78BFA;
    border-radius: 8px;
    padding: 8px;
    max-height: calc(100vh - 70px);
}

/* Infos page container */
.infos-page-container {
    overflow: hidden;
    border: 3px solid #4DA3FF;
    border-radius: 8px;
    padding: 8px;
    max-height: calc(100vh - 70px);
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Budget buttons */
button.buttonsActionsBudget,
button.buttonsActionsOperations,
button.buttonsActionsOperationsP {
    color: #FFFFFF;
    margin-right: 1px;
}

button.buttonsActionsOperations,
button.buttonsActionsOperationsP {
    padding: 5px 5px 0 5px;
}

button.buttonsActionsOperationsP {
    padding: 5px 6px 0 4px;
}
/**
___  ___      _     _ _
|  \/  |     | |   (_) |
| .  . | ___ | |__  _| | ___
| |\/| |/ _ \| '_ \| | |/ _ \
| |  | | (_) | |_) | | |  __/
\_|  |_/\___/|_.__/|_|_|\___|
*/
/* Styles for mobile devices */
@media only screen and (max-width: 1300px) {
    .App {
        font-size: 10px !important;
        padding-top: 40px;
    }

    .favicon {
        height: 40px;
        width: 40px;
    }

    .compteIcon {
        height: 30px;
        width: 30px;
    }

    .compteListIcon {
        height: 45px;
        width: 45px;
        border: 2px solid #FFFFFF;
    }

    h3, .MuiTypography-h3 {
        font-size: 1.8rem !important;
    }

    h6, .MuiTypography-h6 {
        font-size: 1.0rem !important;
    }

    .MuiTypography-subtitle1 {
        font-size: 0.8rem !important;
    }

    .MuiTypography-caption {
        font-size: 0.6rem !important;
    }

    .MuiChip-labelSmall {
        font-size: 0.7rem !important;
    }

    .MuiInputBase-inputSizeSmall,
    .MuiInputLabel-sizeSmall {
        font-size: 0.8rem !important;
    }

    .MuiTypography-overline {
        font-size: 0.7rem !important;
        line-height: 1.3 !important;
    }

    a.nav-link,
    a.nav-link_selected {
        font-size: 1rem;
        height: 40px;
        width: 200px;
    }

    a.nav-link {
        margin-top: 12px;
    }


    .listeItem {
        height: 45px;
        margin: 5px;
    }

    .listeCategorieItem {
        height: 45px;
        padding: 5px;
    }

    .listeItemSeparator {
        padding: 3px;
        font-size: 11px;
    }

    .filtercategorie {
        height: 30px;
    }

    .filtercategorie > span {
        font-size: 10px;
    }

    button.buttonsActionsBudget {
        margin-right: 2px;
        margin-top: 2px;
        padding: 5px 5px 0 5px;
    }
}

/**
______          _    _
|  _  \        | |  | |
| | | |___  ___| | _| |_ ___  _ __
| | | / _ \/ __| |/ / __/ _ \| '_ \
| |/ /  __/\__ \   <| || (_) | |_) |
|___/ \___||___/_|\_\\__\___/| .__/
                             | |
                             |_|
/* Styles for desktop devices */
@media only screen and (min-width: 1301px) {
    .App {
        font-size: 14px !important;
        padding-top: 60px;
    }

    .favicon {
        height: 60px !important;
        width: 60px !important;
    }

    .compteIcon {
        height: 50px;
        width: 50px;
    }

    .compteListIcon {
        height: 60px;
        width: 60px;
        border: 5px solid #FFFFFF;
    }

    h3, .MuiTypography-h3 {
        font-size: 1.8rem !important;
    }

    a.nav-link,
    a.nav-link_selected {
        font-size: 1.25rem;
        height: 60px;
        width: 250px;
    }

    .listeItem {
        height: 60px;
        margin: 20px;
    }

    .listeCategorieItem {
        height: 68px;
        margin: 5px 0;
        padding: 10px;
    }

    .listeItemSeparator {
        padding: 10px;
    }

    .filtercategorie > span {
        font-size: 12px;
    }

    button.buttonsActionsBudget {
        margin-right: 2px;
        margin-top: 8px;
        padding: 10px 10px 5px 10px;
    }
}

/**
 _____
/  __ \
| /  \/ ___  _ __ ___  _ __ ___   ___  _ __
| |    / _ \| '_ ` _ \| '_ ` _ \ / _ \| '_ \
| \__/\ (_) | | | | | | | | | | | (_) | | | |
 \____/\___/|_| |_| |_|_| |_| |_|\___/|_| |_|


/** Style pour les budgets */

/* Couleurs des opérations */
.text-ANNULEE {
    font-style: italic;
    text-decoration-line: line-through;
}

.text-CREDIT {
    color: #2e7d32 !important;
}

.text-DEPENSE {
    color: #e74c3c !important;
}

/** Bouton action sur les opérations **/
.color_ANNULEE {
    background-color: #ebebeb !important;
    color: #121212 !important;
}

.color_PLANIFIEE {
    background-color: #0288d1 !important;
}

.color_PREVUE {
    background-color: #ed6c02 !important;
}

.color_REALISEE {
    background-color: #2e7d32 !important;
}

.color_REPORTEE {
    background-color: #9c27b0 !important;
}

.color_SUPPRIMEE {
    background-color: #ed1b24 !important;
}

.editableField {
    cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}


.listeItem:hover {
    background-color: #2f2f2f;
    color: #ebebeb;
    cursor: pointer;
}


a.nav-link:hover {
    color: #114b65;
}
a.nav-link_selected:hover {
    color: #114b65;
}

/* Style Center component */
.child {
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

