
/* Body */
body {
    padding: 1px;
}

.App {
    padding-top: 60px;
    font-size: 14px !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

/** Style pour les budgets **/
/* button Créer & Réinit & Close/Open */
button.buttonsActionsBudget {
    color: #FFFFFF;
    padding: 10px 10px 5px 10px;
    margin-right: 2px;
}

/* boutons actions sur opérations*/
button.buttonsActionsOperations {
    color: #FFFFFF;
    padding: 5px 5px 0px 5px;
    margin-right: 1px;
}

/* Couleurs des opérations */
.text-CREDIT {
    color: #93c54b;
}

.text-DEBIT {
    color: #e74c3c;
}

.text-ANNULEE {
    font-style: italic;
    text-decoration-line: line-through;
}

.color_REALISEE {
    background-color: #2e7d32 !important;
}

.color_PREVUE {
    background-color: #ed6c02 !important;
}

.color_ANNULEE {
    background-color: #cbcbcb !important;
}

.color_SUPPRIMEE {
    background-color: #ed1b24 !important;
}

.color_REPORTEE {
    background-color: #9c27b0 !important;
}












/**
    Style pour les résumés
**/
table {
    font-size: 14px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

}
thead.theadResume > tr > th  {
    font-size: 12px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    text-align: right !important;
    padding: 0 10px 0 0 !important;
    height: 38px;
    color: #1e1e1c;
    background-color: #ece9e4;
    border-color: #dfddd8
}


/**
Style Menu
 */
a.nav-link {
    color: white;
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
}

a.nav-link:hover {
    color: #1e3852;
}

/**
Style formulaire
 */

label.MuiFormLabel-root {
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
    color: #1976d2;
    font-weight: bolder;
}

.MuiGrid2-container{
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.MuiSelect-main{
    font-size: 14px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

input {
    font-size: 14px !important;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}
