
/* Body */
body {
  padding: 1px;
}

/** Style pour les opérations **/
/*tbody.tbodyOperation > tr > td:first-child { width:200px } */
tbody.tbodyOperation > tr > td:nth-child(5) {
    text-align: right;
    padding-right: 10px;
}
tbody.tbodyOperation > tr > td:nth-child(6) {
    width:80px;
}
tbody.tbodyOperation > tr > td:nth-child(7) { width:100px }

/** Style pour les résumés **/
table {
    font-size:12px;
}
tbody.tbodyResume > tr > td:first-child { width:200px }
tbody.tbodyResume > tr > td:nth-child(2) {
    text-align: right;
    padding-right: 10px;
}
tbody.tbodyResume > tr > td:nth-child(3) {
    text-align: right;
    padding-right: 10px;
}


/* Lignes pour les résumé */
tbody.tbodyResume > tr.ligneCategorie {
    font-weight: bolder;
}
tbody.tbodyResume > span.ligneSsCategorie {
    padding-left: 20px;
}