name: CI on all branches
# Controls when the action will run.
# Triggers the workflow on push or pull request events on all but the master branch
on:
  push:
    # Sequence of patterns matched against refs/heads
    branches-ignore: [ master ]

permissions:
  contents: read

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-npm-cache-
      - name: Use Node.js Latest
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Update config in .env
        env:
          OIDC_CLIENT_ID: ${{ secrets.OIDC_CLIENT_ID }}
          OIDC_CLIENT_SECRET: ${{ secrets.OIDC_CLIENT_SECRET }}
        run: |
          sed -e 's/__OIDC_CLIENT_ID__/$OIDC_CLIENT_ID/g' -e 's/__OIDC_CLIENT_SECRET__/$OIDC_CLIENT_SECRET/g' external-ressources/conf/.env.dev;
      - run: mv external-ressources/conf/.env.dev .env
        name: Set env DEV
      - run: npm install --ignore-scripts
        name: Install
      - run: npm ci --ignore-scripts
        name: CI Install
      - run: npm run build --if-present
        name: Build

  # LINT
  lint:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-npm-cache-
      - name: Use Node.js Latest
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm install eslint --save --ignore-scripts
      - run: npm run lint
